.list {
	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
}

.item {
	border-radius: 5px;
	padding: 20px;
	border: 1px solid var(--accentColor);
	max-height: 150px;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: var(--secondaryColor);
}

.text {
	color: var(--fontColorWhite);
	font-size: 16px;
}

@media (min-width: 768px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}
}

@media (min-width: 1024px) {
	.list {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}
}