.link {
	display:block;
	transition: box-shadow 0.3s linear;
	width: 100%;
	height: 100%;
	border: 1px solid var(--accentColor);
	border-radius: 5px;
	background-color: var(--backgroundSecondaryColor);
}

.img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}

.text{
	color: var(--accentColor);
	font-size: 20px;
	transition: color 0.3s linear;
	display: flex;
	align-items: center;
	padding: 0px 8px 20px 8px;
}

.icon{
	display: inline-block;
	margin-left: 8px;
	fill: var(--accentColor);
	transition: fill 0.3s linear;
}

.link:hover,
.link:focus {
	box-shadow: var(--boxShadow);
}

.link:hover .icon,
.link:focus .icon{
	fill: var(--whiteColor);
}

.link:hover .text,
.link:focus .text {
	color: var(--whiteColor);
}